{% extends "WebMining/base.html"%}

{% block content%}

<div class="container" style="min-height 95%:">
    <table>
        <td style="font-weight: bold"><p style=font-size:30px;> Total Requests : {{requests}}</p></td>

        <td style="font-weight: bold"> <p style=font-size:30px;> Total traffic : {{traffic}} GB</p> </td>

        <td style="font-weight: bold"><p style=font-size:30px;> Total Unique Ip : {{unique_ip}}</p></td>

        <td style="font-weight: bold"><p style=font-size:30px;"> Total 5xx : {{total_5xx}}</p></td>
    </table>
 </div>

<table>
    <tr>

        <td><iframe width="130%" height="250%" frameborder="10px" scrolling="no" marginheight="0" marginwidth="0" onclick="window.open('/media/logs/csvs/BarStatus.svg','_blank')"  src="/media/logs/csvs/BarStatus.svg"></iframe></td>
        <td><iframe width="130%" height="250%" frameborder="10px" scrolling="no" marginheight="0" marginwidth="0" onclick="window.open('/media/logs/csvs/TimeSeriesData.svg','_blank')"  src="/media/logs/csvs/TimeSeriesData.svg"></iframe></td>
        <td><iframe width="130%" height="250%" frameborder="10px" scrolling="no" marginheight="0" marginwidth="0" onclick="window.open('/media/logs/csvs/TimeSeriesRequests.svg','_blank')" src="/media/logs/csvs/TimeSeriesRequests.svg"></iframe></td>
        <td><iframe width="130%" height="250%" frameborder="10px" scrolling="no" marginheight="0" marginwidth="0" onclick="window.open('/media/logs/csvs/PiePlot_6ClLgWE.svg','_blank')"  src="/media/logs/csvs/PiePlot_6ClLgWE.svg"></iframe></td>

    </tr>
        <tr>
        <td><iframe width="600%" height="400%" frameborder="10px" scrolling="no" marginheight="0" marginwidth="0" src="media/logs/csvs/my_mapHeat_PFYJWnN.html"></iframe>
        <p style=font-size:30px;>Per minute at 17:00</p></td>
        </tr>
    <tr>
        <td><iframe width="600%" height="400%" frameborder="10px" scrolling="no" marginheight="0" marginwidth="0" src="/media/logs/csvs/my_map.html"></iframe></td>
    </tr>
    <tr>
         <td><iframe width="200%" height="320%" frameborder="10px" scrolling="no" marginheight="0" marginwidth="0" onclick="window.open('/media/logs/csvs/clusteringDataFreeq.png'_blank)"  src="/media/logs/csvs/clusteringDataFreeq.png"></iframe></td>
    </tr>
</table>

<footer>
  <p>Posted by: Pythones Team </p>
    <p>Copyrights: Πυθωνες </p>
</footer>

{% endblock content%}
