{% extends "WebMining/base.html"%}
{% load staticfiles%}
{% block content%}
 <link rel="stylesheet" type="text/css" href=" {% static 'img/upstyles.css'%}"/>
<div class="container" style="min-height 95%:">
<h1>Upload LogFile</h1>
  <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
  <input type="file"  name="document">
  <button type="submit">Upload File</button>
  </form>


{% if url%}
<p>Uploaded file: <a href="{{ url }}">{{ url }} </a> </p>
{% endif %}
 </div>
{% endblock content%}
